@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');


:root {
    --large-font: 3vw;
    --medium-font: 1.5vw;
    --bg: #D9D9D9;
    --bg-hover: #999999;
    --light-font: #ffffff;
    --dark-font: #5B5B5B;
}

h1 {
    font-family: "Afacad Flux", sans-serif;
    font-size: var(--large-font);
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    align-items: center;
    width: calc(100vw - 85vw);
    height: max-content;
    display: flex;
    justify-content: center;
    height: calc(100vh - 84vh);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--dark-font);
}

.sidebar {
    height: calc(100vh - 16vh);
    width: calc(100vw - 85vw);
    background-color: var(--bg);
    position: absolute;
    bottom: 0%;
    border-radius: 0% 20px 0% 0%;
    box-shadow: rgba(0, 0, 0, 0.3) -10px 8px 20px 1px inset;
}

.button-container {
    position: absolute;
    top: 10%;
    width: 100%;
}

button {
    width: 100%;
    height: calc(100vh - 93vh);
    background-color: transparent;
    border: none;
    font-size: var(--medium-font);
}

button:hover {
    background-color: var(--bg-hover);
    color: var(--light-font);
    box-shadow: rgba(0, 0, 0, 0.3) -10px 8px 20px 1px inset;
}

.button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.card-dex-link {
    position: absolute;
    bottom: 0%;
}

.icons {
    width: 4.5vh
}

.icons {
    height: "hehehe";
}