:root {
    --dynamic-background-color: #000000;
    --dynamic-background-gradient: linear-gradient(180deg, rgba(255, 98, 0, 0.54) 0%, rgba(21,21,21,1) 81%);
    --dynamic-theme-ui-bg-color: #552D18;
    --dynamic-theme-border-color: #FF4400;
    --dynamic-theme-icon-color: #FFFFFF;
    --dynamic-theme-warning-color: #FF0000;
    --dynamic-theme-positive-color: #00FF00;
    --dynamic-theme-text-color: #FFFFFF;

    --Common: linear-gradient(135deg, rgb(239, 255, 239), #a0a0a0, #bbbbbb, #d6d6d6);
    --Uncommon: linear-gradient(135deg, lightgreen, #69d163);
    --Rare: linear-gradient(135deg, lightblue, #5d8cb8);
    --Epic: linear-gradient(135deg, #5F01FE, #6A1194);
    --Mythic: linear-gradient(135deg, #ff3769, #ff0000);
    --Legendary: linear-gradient(135deg, #ffde4b, #ff9100);
    --Exclusive: linear-gradient(180deg, #6c76ff, #e092ff, #ff00f2);
}

#match-body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: var(--dynamic-background-color);
    z-index: 0;
}

.match-container {
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.healthbar-container {
    width: calc(100% - 20px);
    height: 55px;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    margin: 10px;
}

.healthbar {
    margin-left: 10px;
    margin-top: 10px;
    width: 33%;
    height: 60%;
    border-radius: 10px;
    border-bottom-right-radius: 100px;
    border: solid 3px #F6FF00;
    background-color: #628860;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 34.7px;
}

.healthbar-width-meter {
    height: 100%;
    width: 60%;
    background-color: #0DCC03;
    display: flex;
    align-items: center;
}

#your-health {
    margin-left: 10px;
    color: black;
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#your-healthbar {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: left;
}

#opponent-healthbar {
    right: 0;
    position: absolute;
    top: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 10px;
    margin-left: 0px;
    margin-right: 10px;
    display: flex;
    justify-content: right;
    border: solid 3px #FFAE00;
    background-color: #8C4E44;
}

#opponent-health-meter {
    display: flex;
    justify-content: right;
    background-color: #CC1E03;
}

#opponent-health {
    margin-right: 10px;
    color: black;
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.clock {
    width: 200px;
    background-color: var(--dynamic-theme-ui-bg-color);
    height: 100%;
    border: solid 2px var(--dynamic-theme-border-color);
    margin-top: 10px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 14.4px;
}

.clock p {
    color: white;
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    -webkit-text-stroke: 0.5px black;
    font-size: 2.5rem;
}

.bp-container {
    top: 65px;
    height: 60px;
    width: calc(100% - 20px);
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    margin: 10px;
}

#your-bp {
    margin: 0;
    margin-left: 10px;
    margin-right: 30px;
    font-size: 2rem;
    color: var(--dynamic-theme-positive-color);
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.effect-icon {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    margin-left: 10px;
    border: solid 2px var(--dynamic-theme-border-color);
    background-color: var(--dynamic-theme-ui-bg-color);
    background-image: url(./img/icons/shield.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

.effect-icon:hover {
    opacity: 45%;
}

.effect-details-container {
    margin-top: 12px;
    margin-left: 150px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 500px;
    height: 80px;
    padding: 20px;
    background-color: var(--dynamic-theme-ui-bg-color);
    border-radius: 30px;
    border: solid 2px var(--dynamic-theme-border-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 14.4px; 
}

.gradient-overlay {
    z-index: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--dynamic-background-gradient);
}

.popup-vs-background {
    width: 100%;
    height: 100vh;
    z-index: 995;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.375);
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    font-family: "Afacad Flux", "sans-serif";
}

.popup-vs {
    height: 50vh;
    width: 100%;
    background-color: rgb(208, 208, 208);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.turn-absolute {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.turn-container {
    width: 380px;
    height: 70px;
    background-color: rgb(208, 208, 208);
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Afacad Flux", "sans-serif";
    font-size: 2.3rem;
    font-weight: 600;
    padding: 10px;
}

.profile-vs-preview {
    padding: 15px;
    width: calc(100% - 30px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vs-container {
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.profile-vs-preview-name-container {
    width: fit-content;
    height: fit-content;
    margin-left: 15px;
}

.profile-vs-preview-name-container * {
    margin: 0;
}

.profile-vs-preview-pfp {
    width: 90px;
    height: 90px;
    position: relative;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-vs-preview-pfp img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.vs-rank-icon {
    width: 50px;
    height: 50px;
    margin-left: 2px;
}

.vs-username {
    display: flex;
    align-items: center;
}

.emoji-dropdown-container {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 170px;
    margin-left: 20px;
    width: 60px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emoji-icon {
    width: 60px;
    height: 45px;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    background-color: var(--dynamic-theme-ui-bg-color);
    border:solid 2px var(--dynamic-theme-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoji-icon img {
    width: 70%;
    aspect-ratio: 1/1;
}

.emoji-dropdown-button {
    width: 58px;
    height: 15px;
    background-color: var(--dynamic-theme-ui-bg-color);
    border:solid 2px var(--dynamic-theme-border-color);
    border-top: none;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoji-dropdown-button img {
    height: 20px;
    width: 20px;
}

.emoji-dropdown-menu {
    width: 55px;
    height: 0px;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--dynamic-theme-ui-bg-color);
    border:solid 2px var(--dynamic-theme-border-color);
    border-top: none;
    border-bottom: none;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 10px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.emoji-send-button {
    min-width: 55px;
    min-height: 55px;
    border: none;
    background-color: transparent;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Emoji backgrounds */
#confused {
    background-image: url(./img/emojis/confused.png);
}

#temp {
    background-image: url(./img/emojis/temp.webp);
}

#matchShowConfirmContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#matchShowEmoji {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#emoji_img {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 0;
}

#matchShowConfirm {
    width: 40%;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    text-align: center;
    color: rgb(255, 57, 57);
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    z-index: 999;
}

.round-turn-container {
    width: 100%;
    height: fit-content;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 300px;
    gap: 20px;
}

.round-turn-container div {
    padding: 10px;
    background-color: var(--dynamic-theme-ui-bg-color);
    border: solid 2px var(--dynamic-theme-border-color);
    border-radius: 20px;
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 1.8rem;
}

.card-slideout-container {
    position: absolute;
    bottom: 0;
    width: 210px;
    height: 200px;
    margin-bottom: 30px;
    left: -50px;
    display: flex;
    align-items: center;
}

.card-slideout-container img {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    image-rendering: pixelated;

    border: 3px solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#card-slideout-4 {
    margin-left: 20px;
}

#card-slideout-3 {
    margin-left: 40px;
}

#card-slideout-2 {
    margin-left: 60px;
}

#card-slideout-1 {
    margin-left: 80px;
}

.card-slideout-button {
    position: absolute;
    right: 0;
    width: 45px;
    height: 45px;
    z-index: 999;
    margin-right: 85px;
    background-image: url(./img/icons/slideout.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
}